# Telegram Bot
BOT_TOKEN=8522132469:AAH-FIHrnkQPITVprikQda17T5yTYtLEjwI
ADMIN_CHAT_ID=171829229

# Frontend URL (после деплоя замени на реальный)
WEBAPP_URL=http://localhost:5173

# Backend URL (для бота)
API_URL=http://localhost:8000

# База данных
DATABASE_URL=sqlite:///./7eleven.db

# Секретный ключ для admin API
ADMIN_SECRET=admin711